.home-splash {
  background-color: #e5e5e5;
  min-height: 80vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #e5e5e5;
  z-index: 1;
}

.home-splash > h1 {
  position: absolute;
  z-index: 999;
  margin: auto;
}

#scroll-link {
  position: absolute;
  z-index: 999;
  bottom: 1%;
  right: 5%;
}

.scroll svg {
  width: 2.5em;
  height: 2.5em;
}

.home-logo {
  position: absolute;
  left: 5%;
  color: #e5e5e5;
}

/* home content */

.hpc-container {
  position: absolute;
  width: 100%;
}

.hpc-h1-container {
  width: 100%;
}

.hpc-span {
  background-color: #e5e5e5;
  padding: 5px 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.hpc-h1 {
  font-weight: 800;
  font-size: 2.2em;
  line-height: 1.8em;
  color: #222;
  text-transform: uppercase;
  width: 90%;
  text-align: left;
}

.title-btn-container {
  width: 80%;
}

.hpc-h1-container button {
  margin-top: 1em;
  width: 60vw;
  font-size: 1rem;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

/*  */
.hpc-block-container {
  width: 100%;
  padding-left: 1px;

  position: absolute;
  top: 25%;
  left: 5%;
  z-index: 10000;
  width: 90vw;
  margin: auto;
  padding: 10px;
}

.hpc-span {
  background-color: #e5e5e5;
  padding: 5px 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.hpc-h1 {
  font-weight: 800;
  font-size: 2.2em;
  line-height: 1.8em;
  color: #222;
  text-transform: uppercase;
  width: 90%;
  text-align: left;
}

.hpc-h4 {
  font-weight: 800;
  font-size: 1.5em;
  line-height: 2em;
  color: #222;
  text-transform: capitalize;
  width: 90%;
  text-align: left;
}

.hpc-h1,
.hpc-h4 {
  padding-left: 5px;
}
/* block one */

/* used as an anchor for the scroll prompt */
#content-top {
  position: absolute;
  z-index: 999;
  bottom: 10%;
}

.home-splash-image {
  background-image: url("../../images/hemocytes.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.home-splash-overlay {
  position: absolute;
  height: 100%;
  width: 100vw;
  background: rgba(50, 0, 120, 0.3);
}
