.home-wrapper {
  display: grid;
  max-width: 800px;
  margin: 0 auto 0 auto;
  gap: 1.2em;
  grid-template-columns: 1fr 12fr 1fr;
  padding-bottom: 10em;
}

.home-wrapper > * {
  grid-column: 2/-2;
  margin-top: 1px;
  margin-bottom: 5px;
  text-align: center;
}

.home-wrapper > h1 {
  font-size: 2em;
  grid-column: 1/-1;
  margin: 0;
}

.home-wrapper > p {
  font-size: 1.1em;
  line-height: 1.2em;
}

.home-wrapper > figure {
  margin: 0;
  grid-column: 1/-1;
}

.home-wrapper > figure > img {
  width: 40%;
  border-radius: 100%;
}

.text-link {
  color: #282c34;
  font-size: 1rem;
  padding: 0.2rem 0.2rem 0.2rem;
  background: linear-gradient(
    to right,
    rgba(249, 170, 0, 0.2),
    rgba(249, 0, 154, 0.2)
  );
  border-radius: 0.5rem;
  text-decoration: none;
  margin: 0 0.2em 0 0.2em;
}

.text-link.Dark:link,
.text-link.Dark:visited {
  background-color: aquamarine;
}
